
<div class="titulo">
    <h1>Foro de noticias relacionadas con el barrio</h1>
</div>
<p>noticias works!</p>

<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">{{ infoService.noticias[0]?.titulo }}</h6>
            <p class="au-lh-3">{{ infoService.noticias[0]?.noticia }}</p>
        </div>

        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">{{ infoService.noticias[1]?.titulo }}</h6>
            <p class="au-lh-3">{{ infoService.noticias[1]?.noticia }}</p>
        </div>

        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">{{ infoService.noticias[2]?.titulo }}</h6>
            <p class="au-lh-3">{{ infoService.noticias[2]?.noticia }}</p>
        </div>

    </div>
</div>

