<div class="contenedor">
    <div class="titulo">
        <h1>Foro de noticias relacionadas con el barrio</h1>
    </div>
    <button class="añadir">Añadir noticia</button>
</div>


<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
</div>

<div *ngIf="noticias.length > 0; else noNoticias" class="noticias-container">
    <div *ngFor="let noticia of noticias" class="noticia">
        <h3>{{ noticia.titulo }}</h3>
        <p>{{ noticia.contenido }}</p>
        <p><strong>Fecha añadida:</strong> {{ noticia.dia_anadido }}</p>
        <p><strong>Usuario:</strong> {{ noticia.usuario }}</p>
    </div>
</div>

<ng-template #noNoticias>
    <p class="no-noticias">No hay noticias disponibles.</p>
</ng-template>