<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo">
        <div class="logo">
          <img src="..\assets\img\LOGO.jpg" alt="Logo" class="logo-img" />
          <a routerLink="home">{{_servicio.info.titulo}}<sup>tm</sup></a>
        </div>
      </h1>
        
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li routerLinkActive="active" class= "rk-menu__item">
            <a routerLink="home" class="rk-menu__link">Inicio</a>
          </li>
          <li routerLinkActive="active" class="rk-menu__item"><a routerLink="noticias" class="rk-menu__link">Foro/Noticias</a>
          <li routerLinkActive="active" class="rk-menu__item"><a routerLink="actividades" class="rk-menu__link">Actividades</a>
          </li>
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="about" class="rk-menu__link">Contacto</a>
          </li>

            <li *ngIf="currentUser" class="rk-menu__item usuario">
              <a class="rk-menu__link">
                <span class="greeting">Hola, </span>
                <span class="username">{{ currentUser.nombre_usuario | uppercase }}</span>
              </a>
              <nav class="rk-menu__sub">
                <ul class="rk-container">
                  <li class="rk-menu__item seeProfile">
                    <a routerLink="/perfil" class="rk-menu__link">Ver Perfil</a>
                  </li>
                  <li class="rk-menu__item logout">
                    <a (click)="onLogout()" class="rk-menu__link">Cerrar Sesión</a>
                  </li>
                </ul>
              </nav>
            </li>
            
            <div class="rk-menu__item" *ngIf="!currentUser">
              <a routerLink="/login">Iniciar sesión</a>
            </div>


        </ul>

        <div class="rk-search">
          <input type="text" 
          (keyup.enter) = "buscarProducto (txtBuscar.value)"
          placeholder="Buscar" id="urku-search" class="rk-search-field"
          #txtBuscar>
          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </div>
      </nav>
    </div>
  </header>
