.encabezado {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    color: white;
    padding: 10px;
    background: linear-gradient(to bottom, #0050a5, #a4d2ff);
    border: none;
    border-radius: 5px;
}