<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div class="ae-grid au-xs-ta-center au-mb-4">
       
        <div class="informacion">
            <div *ngIf="infoService.equipo.length > 0" class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
                <img [src]="infoService.equipo[0].url" alt="" class="au-mb-3">
                <h5 class="ae-u-bolder au-mt-2">{{infoService.equipo[0].nombre}}</h5>
                <p class="ae-u-bolder au-mb-3">{{infoService.equipo[0].subtitulo}}</p>
                <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{infoService.equipo[0].frase}}</p>
                <a target="_blank" href="https://twitter.com/{{infoService.equipo[0].twitter}}"
                    class="ae-u-bolder au-underline">{{infoService.equipo[0].twitter}}</a>
            </div>
        </div>
    </div>

    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">{{ infoService.informacion[0]?.titulo }}</h6>
            <p class="au-lh-3">{{ infoService.informacion[0]?.info }}</p>
        </div>


        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">{{ infoService.informacion[1]?.titulo }}</h6>
            <p class="au-lh-3">{{ infoService.informacion[1]?.info }}</p>
        </div>
        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">{{ infoService.informacion[2]?.titulo }}</h6>
            <p class="au-lh-3">{{ infoService.informacion[2]?.info }}</p>
        </div>
    </div>
   
</div>