<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <label>Nombre de Usuario:</label>
    <input formControlName="nombre_usuario" required>
    <div *ngIf="registroForm.get('nombre_usuario')?.invalid && registroForm.get('nombre_usuario')?.touched"
        class="error-message">
        {{obtenerErrorCampoNombreUsuario()}}
    </div>

    <div *ngIf="errorMessage && errorMessage.includes('nombre de usuario')">
        <p class="error-message">{{ errorMessage }}</p>
    </div>

    <label>Nombre:</label>
    <input formControlName="nombre" required>

    <label>Apellido:</label>
    <input formControlName="apellido" required>

    <label>Email:</label>
    <input formControlName="email" type="email" required>

    <!-- Errores para el email -->
    <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched" class="error-message">
        <div *ngIf="registroForm.get('email')?.hasError('required')">
            El correo electrónico es requerido.
        </div>
        <div *ngIf="registroForm.get('email')?.hasError('email')">
            El correo electrónico no es válido.
        </div>
        <div *ngIf="registroForm.get('email')?.hasError('emailFormat')">
            El correo electrónico debe tener un '&#64;'.
        </div>
    </div>

    <div *ngIf="errorMessage && errorMessage.includes('correo electrónico')">
        <p class="error-message">{{ errorMessage }}</p>
    </div>

    <label>Contraseña:</label>
    <input formControlName="password" type="password" required>

    <!-- Errores para la contraseña -->
    <div *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched" class="error-message">
        <div *ngIf="registroForm.get('password')?.hasError('required')">
            La contraseña es requerida.
        </div>
        <div *ngIf="registroForm.get('password')?.hasError('passwordStrength')">
            {{ registroForm.get('password')?.errors?.['passwordStrength'] }}
        </div>
    </div>

    <button type="submit">Registrarme</button>
</form>