<div class="titulo">
    <h1>Todas las actividades</h1>
</div>
<p>actividades works!</p>
<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">{{ infoService.actividades[0]?.titulo }}</h6>
            <p class="au-lh-3">{{ infoService.actividades[0]?.actividad }}</p>
        </div>

        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">{{ infoService.actividades[1]?.titulo }}</h6>
            <p class="au-lh-3">{{ infoService.actividades[1]?.actividad }}</p>
        </div>

        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">{{ infoService.actividades[2]?.titulo }}</h6>
            <p class="au-lh-3">{{ infoService.actividades[2]?.actividad }}</p>
        </div>

    </div>
</div>
