<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>Nombre de Usuario:</label>
    <input formControlName="nombre_usuario" type="text" required>
    <div *ngIf="form.get('nombre_usuario')?.invalid && form.get('nombre_usuario')?.touched" class="error-message">
        {{obtenerErrorCampoNombreUsuario()}}
    </div>

    <div *ngIf="errorMessage && errorMessage.includes('nombre de usuario')">
        <p class="error-message">{{ errorMessage }}</p>
    </div>

    <label>Nombre:</label>
    <input formControlName="nombre" type="text" required>

    <label>Apellido:</label>
    <input formControlName="apellido" type="text" required>

    <label>Email:</label>
    <input formControlName="email" type="email" required>

    <!-- Errores para el email -->
    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error-message">
        <div *ngIf="form.get('email')?.hasError('required')">
            El correo electrónico es requerido.
        </div>
        <div *ngIf="form.get('email')?.hasError('email')">
            El correo electrónico no es válido.
        </div>
        <div *ngIf="form.get('email')?.hasError('emailFormat')">
            El correo electrónico debe tener un '&#64;'.
        </div>
    </div>

    <div *ngIf="errorMessage && errorMessage.includes('correo electrónico')">
        <p class="error-message">{{ errorMessage }}</p>
    </div>

    <label>Contraseña:</label>
    <div class="password-container">
        <input id="password" type="password" formControlName="password" required />
        <div class="icono">
            <i class="fa" [ngClass]="{'fa-eye': !passwordVisible, 'fa-eye-slash': passwordVisible}"
                (click)="togglePasswordVisibility()"></i>
        </div>
    </div>

    <!-- Errores para la contraseña -->
    <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error-message">
        <div *ngIf="form.get('password')?.hasError('required')">
            La contraseña es requerida.
        </div>
        <div *ngIf="form.get('password')?.hasError('passwordStrength')">
            {{ form.get('password')?.errors?.['passwordStrength'] }}
        </div>
    </div>

    <label>Dirección:</label>
    <input formControlName="direccion" type="text" required>
    <div *ngIf="form.get('direccion')?.invalid && form.get('direccion')?.touched" class="error-message">
        La dirección es requerida.
    </div>

    <label>Fecha de Nacimiento:</label>
    <input formControlName="fecha_nacimiento" type="date" required>
    <div *ngIf="form.get('fecha_nacimiento')?.invalid && form.get('fecha_nacimiento')?.touched" class="error-message">
        La fecha de nacimiento es requerida.
    </div>

    <button type="submit">Registrarme</button>
</form>